@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(160, 138, 138);
  border-radius: 99px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* event calendar css */
.fc .fc-daygrid-day-frame {
  cursor: pointer;
}
